name: Upload to PyPI

on:
  # release:
  #   types: [created]
  push:
    tags:
      - 'v*.*.*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install packages
        run: |
          pip install --upgrade pip
          pip install --upgrade hatch

      - name: Build
        run: hatch build

      - name: pypi-publish
        uses: pypa/gh-action-pypi-publish@release/v1
